/* ==================
    base
================== */
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // base font size = 10px
    font-family: $main_font_family;
}

h1 {
    font-size: 2rem;
    @include h();
}

section {
    margin: 30px;
}

p {
    padding: 5px 10px;
    font-size: 1.2rem;
}
