/* ==================
    common

    index
        - btn
================== */

// ==================
//    btn
// ==================
.btn-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.btn {
    background: $black;
    @include btn($white);

    &:before {
        content: "PC";
    }

    &:active {
        animation: wideBox 1s forwards infinite alternate;
    }
}
