// ==================
//    mixin
// ==================
@mixin btn($color: #aaa) {
    color: $color;
    display: block;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
    cursor: pointer;
}

@mixin h($color: $black, $borderSize: 1) {
    border-left: (3px * $borderSize) solid $color;
    border-bottom: (1px * $borderSize) solid $color;
    padding: 10px;
}
